name: Build

on:
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
      # Set the project file paths relative to the current repo
        project-path:
        - 'ostim_ci.ppj'
    env:
      # Set these
      dist-path: ..\dist                                # Folder containing the output from the project files
      compiler-repo: Osmosis-Wrench/Papyrus-Compiler    # Github repository containing the papyrus compiler
      compiler-token: ${{ secrets.OSTIM_TOKEN }}        # Just use ${{ github.token }} if the repo is not private
      pyro-token: ${{ secrets.OSTIM_TOKEN }}
      # Ignore these
      python-version: 3.x
      python-arch: x64

    steps:
    - uses: actions/checkout@v2
      with:
        path: ./repo

    - name: Set up Python ${{ env.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ env.python-version }}
        architecture:  ${{ env.python-arch }}

    - name: Pull papyrus compiler
      uses: actions/checkout@v2
      with:
        repository: ${{ env.compiler-repo }}
        token: ${{ env.compiler-token }}
        path: ./compiler


    - name: Add OOPapyrus
      uses: actions/download-artifact@v2
      with:
        name: 'OOPapyrus'
        path: path/to/artifact

    - name: Get latest Pyro release
      id: pyro_asset
      uses: MrOctopus/download-asset-action@main
      with:
        repository: fireundubh/pyro
        excludes: draft
        asset: pyro
        tag: 1622859917

    - name: Extract Pyro
      run: 7z x ${Env:release_name} -opyro
      env: 
        release_name: ${{ steps.pyro_asset.outputs.name }}

    - name: Build releases
      run: |
        .\pyro\pyro --game-path . --compiler-path ${Env:ppj_c} --flags-path ${Env:ppj_f} --access-token ${Env:ppj_t} .\repo\${Env:ppj_p}
      env: 
        ppj_c: compiler\PapyrusCompiler.exe
        ppj_f: compiler\TESV_Papyrus_Flags.flg
        ppj_t: ${{ env.pyro-token }}
        ppj_p: ${{ matrix.project-path }}

    - name: Prepare upload
      if: success()
      run: |
        cd repo\${Env:dist-path}
        7z x *zip -o*
        echo "build_names=$(Get-ChildItem -Filter *. -Name)" >> ${Env:GITHUB_ENV}
        echo "build_paths=$($(Get-ChildItem -Filter *. | % { $_.FullName }) -join ",")" >> ${Env:GITHUB_ENV}

    - name: Download Discord uploader
      if: success()
      uses: actions/checkout@v2
      with:
        repository: Sairion350/Github-Discord-build-uploader
        path: ./repo

    - name: Install python packages
      if: success()
      run: |
        python -m pip install --upgrade pip
        pip install -r ./repo/python_requirements.txt
    
    - name: Upload release
      if: success()
      uses: MrOctopus/upload-artifact@main
      with:
        individual: true
        path: ${{ env.build_paths }}

    - name: Upload to discord
      if: success()
      run: |
        python ./repo/discord_uploader.py ${{ secrets.discord_bot_token }} ${{ secrets.discord_bot_channel }} ${{ env.build_names }}